// this is not a class it contains two methods to be coppied within a class
    /**
     * Calculate the factorial of an int
     * @param int num
     * @return long factorial
     * */
    public static long factorial(int num) 
    {
    int product = 1;
    int counter = 1;
    while (counter <= num)
        {
        product = product*counter;
        counter++;
        }
    return product;
    } // factorial()
    // Euler method:
    /**
     * Calculate the e Euler's number
     * @param none
     * @return double e
     * */
    public static double eNumber() 
    { 
    double currentEstimate=1.; 
    double previousEstimate =0.; 
    double accuracy = 0.0001; 
    int counter = 1; 
     
    while (Math.abs(currentEstimate-previousEstimate) > 0.0001) 
        { 
        previousEstimate = currentEstimate; 
        currentEstimate = currentEstimate + 1/(double)factorial(counter); 
        counter++; 
        } 
     
    return currentEstimate; 
    } //eNumber
